commands:
  01_install_dependencies:
    command: sudo yum install -y fontconfig freetype freetype-devel fontconfig_devel libstdc++
  02_download_phantomjs:
    command: wget https://github.com/ariya/phantomjs/archive/2.1.3.tar.gz -O phantomjs.tar.gz
  03_prepare_dir:
    command: sudo mkdir -p /opt/phantomjs
  04_unzip:
    command: tar -xzf phantomjs.tar.gz -C /opt/phantomjs
  05_symlink:
    command: sudo ln -fs /opt/phantomjs/bin/phantomjs /usr/bin/phantomjs